/* Newsletter.css */

.newsletter-container {
    background-color: #0b132b;
    color: #ffffff;
    padding: 40px;
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  .subscribe-section {
    margin-bottom: 30px;
  }
  
  .subscribe-icon {
    font-size: 2rem;
    color: #ff6b6b;
  }
  
  h2 {
    font-size: 2rem;
    margin: 20px 0;
  }
  
  .email-input {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .email-input input {
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 5px 0 0 5px;
    width: 250px;
  }
  
  .email-input button {
    padding: 10px;
    font-size: 1rem;
    border: none;
    background-color: #ff6b6b;
    color: #ffffff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  
  .send-icon {
    font-size: 1rem;
  }
  
  .contact-section {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
  }
  
  .contact-info {
    text-align: left;
  }
  
  .contact-info h4 {
    margin-bottom: 10px;
  }
  
  .contact-button {
    padding: 10px 20px;
    font-size: 1rem;
    border: 1px solid #ff6b6b;
    background-color: transparent;
    color: #ff6b6b;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    
  }
  .contact-button:hover{
    background-color: orange;
    color: white;
  }
  
  
  .footer-section {
    margin-top: 30px;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .social-icon {
    font-size: 1.5rem;
    margin: 0 10px;
    cursor: pointer;
  }
  
  .footer-section p {
    margin: 5px 0;
  }
  